{% extends 'base.html' %}
{% load exam_tags %}
{% block title %}Questions{% endblock %}

{% block content %}
<div class="mainblok">
    <div class="phdr">{{ story.headline }} Questions</div>
    <div class="rmenu">
        <h2>Passage</h2>
        {{ story.content | linebreaksbr }}
    </div>
    <div class="gmenu">
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
                <div class="{% cycle 'list1' 'list2' %}">
                {{ field.label | markdown | linebreaksbr }}
                {{ field }}
                </div>
            {% endfor %}
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}